/*----------------------------------------------------------------------------------//
//------------------------------RESET DEFAULT STYLES--------------------------------//
//----------------------------------------------------------------------------------*/
/* line 4, ../sass/base/_reset.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../sass/base/_reset.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 6, ../sass/base/_reset.scss */
body {
  padding: 0;
  margin: 0;
  font: 14px "Myriad Pro", arial, Tahoma, sans-serif;
  color: #333;
}

/* line 7, ../sass/base/_reset.scss */
div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, input, textarea {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
}

/* line 13, ../sass/base/_reset.scss */
h1, h2 {
  font-size: 36px;
}

/* line 14, ../sass/base/_reset.scss */
h3 {
  font-size: 20px;
}

/* line 15, ../sass/base/_reset.scss */
select, input, textarea {
  font-size: 14px;
  vertical-align: middle;
}

/* line 16, ../sass/base/_reset.scss */
textarea {
  vertical-align: top;
}

/* line 17, ../sass/base/_reset.scss */
:focus {
  outline: none;
}

/* line 18, ../sass/base/_reset.scss */
input[type=submit] {
  cursor: pointer;
}

/* line 19, ../sass/base/_reset.scss */
img, fieldset {
  border: 0;
}

/* line 20, ../sass/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 21, ../sass/base/_reset.scss */
a, a:link, a:visited {
  font: 14px Calibri, Tahoma, sans-serif;
  color: #333;
  text-decoration: none;
}

/* line 22, ../sass/base/_reset.scss */
a:hover {
  text-decoration: underline;
}

/*Colors*/
/*Fonts*/
/*Mixin text info*/
/*Mixin title*/
/*Mixin title underline*/
/*Display flex*/
/*Flex shrink*/
/*Justify content*/
/*Justify content*/
/*Flex wrap*/
/*Flex basis*/
/*Common*/
/* line 2, ../sass/page/_index.scss */
.wrapper {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1140px;
}
@media (max-width: 1024px) {
  /* line 2, ../sass/page/_index.scss */
  .wrapper {
    max-width: 1000px;
  }
}
@media (max-width: 992px) {
  /* line 2, ../sass/page/_index.scss */
  .wrapper {
    max-width: 960px;
  }
}
@media (max-width: 768px) {
  /* line 2, ../sass/page/_index.scss */
  .wrapper {
    max-width: 720px;
  }
}
@media (max-width: 576px) {
  /* line 2, ../sass/page/_index.scss */
  .wrapper {
    max-width: 540px;
  }
}

/* line 24, ../sass/page/_index.scss */
.section-awesome-title,
.section-price-title {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  display: block;
  margin-bottom: 65px;
  position: relative;
}
/* line 18, ../sass/utils/_mixins.scss */
.section-awesome-title:before,
.section-price-title:before {
  content: '';
  position: absolute;
  margin-top: 20px;
  height: 2px;
  background-color: #ff9b51;
  width: 65px;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
}
/* line 32, ../sass/page/_index.scss */
.section-awesome-title:after .title-bottom-border,
.section-price-title:after .title-bottom-border {
  height: 2px;
  width: 65px;
  background-color: #ff9b51;
}

/* line 40, ../sass/page/_index.scss */
.social-media-title,
.section-sub-title,
.standard-picture-title {
  margin-bottom: 15px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}

/* line 47, ../sass/page/_index.scss */
.wrapper-icon,
.awesome-wrapper-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ff9b51;
  border: 2px solid #ff9b51;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

/*Social media section*/
/* line 61, ../sass/page/_index.scss */
.section-social-media {
  padding: 25px 0;
  border-bottom: 1px solid #b7b7b7;
}
@media (max-width: 768px) {
  /* line 61, ../sass/page/_index.scss */
  .section-social-media {
    text-align: center;
  }
}
/* line 69, ../sass/page/_index.scss */
.section-social-media-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
/* line 75, ../sass/page/_index.scss */
.section-social-media-info {
  display: inline-block;
  margin-right: 40px;
  flex-basis: 35%;
  max-width: 35%;
}
@media (max-width: 768px) {
  /* line 75, ../sass/page/_index.scss */
  .section-social-media-info {
    margin-right: 5px;
    flex-basis: 100%;
    max-width: 100%;
  }
}
/* line 87, ../sass/page/_index.scss */
.section-social-media-info .social-media-text {
  margin-bottom: 25px;
  color: #86878b;
  font-family: "Open Sans", sans-serif;
}
/* line 93, ../sass/page/_index.scss */
.section-social-media .social-icon-list {
  display: inline-block;
  flex-basis: 60%;
  max-width: 60%;
}
@media (max-width: 768px) {
  /* line 93, ../sass/page/_index.scss */
  .section-social-media .social-icon-list {
    flex-basis: 100%;
    max-width: 100%;
  }
}
/* line 103, ../sass/page/_index.scss */
.section-social-media .social-icon-list-item {
  padding: 0 15px 0 40px;
  display: inline-block;
}
@media (max-width: 1135px) {
  /* line 103, ../sass/page/_index.scss */
  .section-social-media .social-icon-list-item {
    padding-left: 25px;
  }
}
@media (max-width: 960px) {
  /* line 103, ../sass/page/_index.scss */
  .section-social-media .social-icon-list-item {
    padding-left: 10px;
  }
}
/* line 115, ../sass/page/_index.scss */
.section-social-media .social-icon-list-item-link {
  display: inline-block;
}
/* line 119, ../sass/page/_index.scss */
.section-social-media .social-icon-list-item .fa-icon {
  font-size: 2.5rem;
  color: #ccc;
}
/* line 123, ../sass/page/_index.scss */
.section-social-media .social-icon-list-item .fa-icon:hover {
  color: #ff9b51;
  transform: rotate(15deg);
}
@media (max-width: 576px) {
  /* line 119, ../sass/page/_index.scss */
  .section-social-media .social-icon-list-item .fa-icon {
    font-size: 1.5rem;
  }
}

/*Sub list section*/
/* line 137, ../sass/page/_index.scss */
.section-sub-list {
  padding: 110px 0 100px;
}
@media (max-width: 768px) {
  /* line 137, ../sass/page/_index.scss */
  .section-sub-list {
    padding: 50px 0;
  }
}
@media (max-width: 576px) {
  /* line 137, ../sass/page/_index.scss */
  .section-sub-list {
    padding: 30px 0;
  }
}
/* line 148, ../sass/page/_index.scss */
.section-sub-list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (max-width: 992px) {
  /* line 148, ../sass/page/_index.scss */
  .section-sub-list-wrapper {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
/* line 159, ../sass/page/_index.scss */
.section-sub-list .section-sub-title {
  margin-bottom: 65px;
  position: relative;
}
/* line 18, ../sass/utils/_mixins.scss */
.section-sub-list .section-sub-title:before {
  content: '';
  position: absolute;
  margin-top: 20px;
  height: 2px;
  background-color: #ff9b51;
  width: 65px;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
}
/* line 162, ../sass/page/_index.scss */
.section-sub-list .section-sub-title:before {
  left: 35px;
}
/* line 167, ../sass/page/_index.scss */
.section-sub-list .sub-list-text {
  color: #86878b;
  font-family: "Open Sans", sans-serif;
}
/* line 171, ../sass/page/_index.scss */
.section-sub-list .info-text {
  margin-bottom: 50px;
}
/* line 175, ../sass/page/_index.scss */
.section-sub-list .info-title {
  margin-bottom: 15px;
}
/* line 179, ../sass/page/_index.scss */
.section-sub-list-img {
  margin: 0 185px 45px 0;
  box-shadow: 10px 10px 10px 7px #dedede;
}
@media (max-width: 1140px) {
  /* line 179, ../sass/page/_index.scss */
  .section-sub-list-img {
    margin-right: 50px;
  }
}
@media (max-width: 568px) {
  /* line 179, ../sass/page/_index.scss */
  .section-sub-list-img {
    margin: 0 0 30px;
    width: 100%;
  }
}
/* line 193, ../sass/page/_index.scss */
.section-sub-list .info-list-item {
  margin-bottom: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
/* line 199, ../sass/page/_index.scss */
.section-sub-list .info-list-item .icon-section {
  font-size: 1rem;
}
/* line 203, ../sass/page/_index.scss */
.section-sub-list .info-list-item .info-list-item-wrapper {
  margin-left: 30px;
}

/*Standard picture section*/
/* line 210, ../sass/page/_index.scss */
.section-standard-picture {
  padding: 105px 0;
  background-color: #f5f5f5;
}
/* line 214, ../sass/page/_index.scss */
.section-standard-picture-wrapper-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (max-width: 992px) {
  /* line 214, ../sass/page/_index.scss */
  .section-standard-picture-wrapper-info {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
/* line 225, ../sass/page/_index.scss */
.section-standard-picture .standard-picture-wrapper-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (max-width: 992px) {
  /* line 225, ../sass/page/_index.scss */
  .section-standard-picture .standard-picture-wrapper-info {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
/* line 236, ../sass/page/_index.scss */
.section-standard-picture .standard-picture-title {
  margin-bottom: 65px;
  position: relative;
}
/* line 18, ../sass/utils/_mixins.scss */
.section-standard-picture .standard-picture-title:before {
  content: '';
  position: absolute;
  margin-top: 20px;
  height: 2px;
  background-color: #ff9b51;
  width: 65px;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
}
/* line 239, ../sass/page/_index.scss */
.section-standard-picture .standard-picture-title:before {
  left: 33px;
}
/* line 243, ../sass/page/_index.scss */
.section-standard-picture .standard-picture-text {
  margin-bottom: 30px;
  color: #86878b;
  font-family: "Open Sans", sans-serif;
}
/* line 248, ../sass/page/_index.scss */
.section-standard-picture .standard-picture-img {
  margin: 0 0 45px 185px;
  box-shadow: 10px 10px 10px 7px #dedede;
}
@media (max-width: 1140px) {
  /* line 248, ../sass/page/_index.scss */
  .section-standard-picture .standard-picture-img {
    margin-left: 50px;
  }
}
@media (max-width: 568px) {
  /* line 248, ../sass/page/_index.scss */
  .section-standard-picture .standard-picture-img {
    margin: 0;
    width: 100%;
  }
}

/*Awesome section*/
/* line 264, ../sass/page/_index.scss */
.section-awesome {
  padding: 100px 0;
  text-align: center;
}
/* line 268, ../sass/page/_index.scss */
.section-awesome-info {
  margin-bottom: 80px;
  color: #86878b;
  font-family: "Open Sans", sans-serif;
}
/* line 273, ../sass/page/_index.scss */
.section-awesome-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* line 277, ../sass/page/_index.scss */
.section-awesome-list .awesome-list-item {
  margin-bottom: 30px;
  padding: 0 10px;
  max-width: 33%;
  text-align: center;
}
@media (max-width: 768px) {
  /* line 277, ../sass/page/_index.scss */
  .section-awesome-list .awesome-list-item {
    max-width: 50%;
  }
}
@media (max-width: 576px) {
  /* line 277, ../sass/page/_index.scss */
  .section-awesome-list .awesome-list-item {
    max-width: 100%;
  }
}
/* line 291, ../sass/page/_index.scss */
.section-awesome-list .awesome-list-item .awesome-wrapper-icon {
  margin-bottom: 30px;
  width: 75px;
  height: 75px;
}
/* line 298, ../sass/page/_index.scss */
.section-awesome-list .awesome-list-item .icon-section {
  font-size: 2rem;
}
/* line 302, ../sass/page/_index.scss */
.section-awesome-list .awesome-list-item .list-item-link-title {
  margin-bottom: 30px;
}
/* line 306, ../sass/page/_index.scss */
.section-awesome-list .awesome-list-item-info {
  color: #86878b;
  font-family: "Open Sans", sans-serif;
}

/*Price section*/
/* line 314, ../sass/page/_index.scss */
.section-price {
  padding: 110px 0 100px;
  text-align: center;
  background-color: #f5f5f5;
}
/* line 319, ../sass/page/_index.scss */
.section-price-info {
  margin-bottom: 80px;
  color: #86878b;
  font-family: "Open Sans", sans-serif;
}
/* line 324, ../sass/page/_index.scss */
.section-price-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
}
/* line 329, ../sass/page/_index.scss */
.section-price-list-item {
  padding: 0 20px;
  margin-bottom: 30px;
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  max-width: 33%;
  color: #fff;
  font-size: "Raleway", sans-serif;
}
@media (max-width: 992px) {
  /* line 329, ../sass/page/_index.scss */
  .section-price-list-item {
    max-width: 50%;
  }
}
@media (max-width: 568px) {
  /* line 329, ../sass/page/_index.scss */
  .section-price-list-item {
    max-width: 100%;
  }
}
/* line 346, ../sass/page/_index.scss */
.section-price-list-item:hover .price-popular-text {
  padding: 15px;
  background-color: #ff9b51;
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
}
/* line 355, ../sass/page/_index.scss */
.section-price-list-item .item-block {
  background-color: #37495e;
}
/* line 359, ../sass/page/_index.scss */
.section-price-list-item .price-status {
  display: block;
}
/* line 363, ../sass/page/_index.scss */
.section-price-list-item .price-number {
  font-size: 6rem;
}
/* line 367, ../sass/page/_index.scss */
.section-price-list-item .price-item-title,
.section-price-list-item .price-status {
  padding: 20px 0;
}
/* line 372, ../sass/page/_index.scss */
.section-price-list-item .price {
  padding-bottom: 0;
  border-top: 2px solid #f5f5f5;
  border-bottom: 2px solid #f5f5f5;
  font-size: 2rem;
}
/* line 379, ../sass/page/_index.scss */
.section-price-list-item .price-status {
  color: #86878b;
  font-style: italic;
}
/* line 384, ../sass/page/_index.scss */
.section-price-list-item .price-popular-text {
  border: 2px solid #ff9b51;
  display: block;
  font-size: 0;
}
/* line 390, ../sass/page/_index.scss */
.section-price-list-item .status-price-list-item {
  padding: 15px 0;
  background-color: #fff;
  color: #86878b;
  text-transform: uppercase;
  border-bottom: 1px solid #f5f5f5;
}
/* line 398, ../sass/page/_index.scss */
.section-price-list-item .price-item-title-link:link,
.section-price-list-item .price-popular-link:link {
  color: #fff;
  text-decoration: none;
}
