/*----------------------------------------------------------------------------------//
//------------------------------RESET DEFAULT STYLES--------------------------------//
//----------------------------------------------------------------------------------*/
/* line 4, ../sass/base/_reset.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../sass/base/_reset.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 6, ../sass/base/_reset.scss */
body {
  padding: 0;
  margin: 0;
  font: 14px "Myriad Pro", arial, Tahoma, sans-serif;
  color: #333;
}

/* line 7, ../sass/base/_reset.scss */
div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, input, textarea {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
}

/* line 13, ../sass/base/_reset.scss */
h1, h2 {
  font-size: 36px;
}

/* line 14, ../sass/base/_reset.scss */
h3 {
  font-size: 20px;
}

/* line 15, ../sass/base/_reset.scss */
select, input, textarea {
  font-size: 14px;
  vertical-align: middle;
}

/* line 16, ../sass/base/_reset.scss */
textarea {
  vertical-align: top;
}

/* line 17, ../sass/base/_reset.scss */
:focus {
  outline: none;
}

/* line 18, ../sass/base/_reset.scss */
input[type=submit] {
  cursor: pointer;
}

/* line 19, ../sass/base/_reset.scss */
img, fieldset {
  border: 0;
}

/* line 20, ../sass/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 21, ../sass/base/_reset.scss */
a, a:link, a:visited {
  font: 14px Calibri, Tahoma, sans-serif;
  color: #333;
  text-decoration: none;
}

/* line 22, ../sass/base/_reset.scss */
a:hover {
  text-decoration: underline;
}

/*Colors*/
/*Fonts*/
/*Text info*/
/*Sub title*/
/*Title underline*/
/*Buttons*/
/*Display flex*/
/*Flex shrink*/
/*Justify content*/
/*Justify content*/
/*Flex wrap*/
/*Flex basis*/
/*Flex align items*/
/*Flex direction*/
/* line 3, ../sass/layout/_header.scss */
.header .main-menu {
  padding: 20px 0;
  background-color: #37495e;
}
/* line 7, ../sass/layout/_header.scss */
.header .main-menu-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
/* line 13, ../sass/layout/_header.scss */
.header .main-menu-item {
  display: inline-block;
  color: #c1c7cd;
}
/* line 18, ../sass/layout/_header.scss */
.header .main-menu-link {
  display: inline-block;
}
/* line 21, ../sass/layout/_header.scss */
.header .main-menu-link:link {
  margin-left: 45px;
  color: #86878b;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
/* line 26, ../sass/layout/_header.scss */
.header .main-menu-link:link:hover {
  padding: 20px;
  margin-left: 25px;
  color: #c1c7cd;
  background-color: #ff9b51;
}
/* line 35, ../sass/layout/_header.scss */
.header-content {
  padding: 140px 0;
  background-image: url("../images/bg_header.png");
  background-size: cover;
}
/* line 40, ../sass/layout/_header.scss */
.header-content .content {
  text-align: left;
  color: #fff;
  -webkit-flex-basis: 50%;
  -ms-flex-basis: 50%;
  flex-basis: 50%;
  max-width: 50%;
}
@media (max-width: 768px) {
  /* line 40, ../sass/layout/_header.scss */
  .header-content .content {
    margin-bottom: 30px;
    -webkit-flex-basis: 100%;
    -ms-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}
/* line 52, ../sass/layout/_header.scss */
.header-content .content-title {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  display: block;
  margin-bottom: 65px;
  position: relative;
  font-weight: 400;
}
/* line 18, ../sass/utils/_mixins.scss */
.header-content .content-title:before {
  content: '';
  position: absolute;
  margin-top: 20px;
  height: 2px;
  background-color: #fff;
  width: 65px;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
}
/* line 59, ../sass/layout/_header.scss */
.header-content .content-title:before {
  left: 33px;
}
/* line 64, ../sass/layout/_header.scss */
.header-content .content-text {
  margin-bottom: 40px;
  font-family: "Open Sans", sans-serif;
}
/* line 69, ../sass/layout/_header.scss */
.header-content .content .download-btn {
  padding: 15px 25px;
  background-color: transparent;
  border: 1 solid #fff;
  border-radius: 0;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
/* line 75, ../sass/layout/_header.scss */
.header .content-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
/* line 80, ../sass/layout/_header.scss */
.header-form {
  -webkit-flex-basis: 30%;
  -ms-flex-basis: 30%;
  flex-basis: 30%;
  max-width: 30%;
}
@media (max-width: 768px) {
  /* line 80, ../sass/layout/_header.scss */
  .header-form {
    margin-bottom: 30px;
    -webkit-flex-basis: 100%;
    -ms-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}
/* line 90, ../sass/layout/_header.scss */
.header-form .field-header-form {
  width: 100%;
}

/* line 1, ../sass/layout/_footer.scss */
.footer {
  padding: 20px 0 15px;
  background-color: #37495e;
  text-align: center;
}
/* line 6, ../sass/layout/_footer.scss */
.footer .fa-icon,
.footer .social-icon-list-item {
  color: #ccc;
}
/* line 11, ../sass/layout/_footer.scss */
.footer .social-icon-list-item {
  margin-bottom: 15px;
  padding: 0 15px 0 40px;
  display: inline-block;
}
@media (max-width: 1135px) {
  /* line 11, ../sass/layout/_footer.scss */
  .footer .social-icon-list-item {
    padding-left: 25px;
  }
}
@media (max-width: 960px) {
  /* line 11, ../sass/layout/_footer.scss */
  .footer .social-icon-list-item {
    padding-left: 10px;
  }
}
/* line 24, ../sass/layout/_footer.scss */
.footer .social-icon-list-item-link {
  display: inline-block;
}
/* line 28, ../sass/layout/_footer.scss */
.footer .social-icon-list-item .fa-icon {
  font-size: 2.2rem;
  color: #ccc;
}
/* line 32, ../sass/layout/_footer.scss */
.footer .social-icon-list-item .fa-icon:hover {
  color: #ff9b51;
  transform: rotate(15deg);
}
@media (max-width: 576px) {
  /* line 28, ../sass/layout/_footer.scss */
  .footer .social-icon-list-item .fa-icon {
    font-size: 1.5rem;
  }
}
/* line 43, ../sass/layout/_footer.scss */
.footer .copyright-text,
.footer .copyright-icon {
  color: #ccc;
  font-family: "Raleway", sans-serif;
}

/*Common*/
/* line 2, ../sass/page/_index.scss */
.wrapper {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1140px;
}
@media (max-width: 1024px) {
  /* line 2, ../sass/page/_index.scss */
  .wrapper {
    max-width: 1000px;
  }
}
@media (max-width: 992px) {
  /* line 2, ../sass/page/_index.scss */
  .wrapper {
    max-width: 960px;
  }
}
@media (max-width: 768px) {
  /* line 2, ../sass/page/_index.scss */
  .wrapper {
    max-width: 720px;
  }
}
@media (max-width: 576px) {
  /* line 2, ../sass/page/_index.scss */
  .wrapper {
    max-width: 540px;
  }
}

/* line 24, ../sass/page/_index.scss */
a:link {
  text-decoration: none;
}

/* line 28, ../sass/page/_index.scss */
.section-awesome-title,
.section-price-title,
.section-contact-us-title,
.stylish-design-title,
.customers-saying-title {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  display: block;
  font-weight: 400;
  margin-bottom: 65px;
  position: relative;
}
/* line 18, ../sass/utils/_mixins.scss */
.section-awesome-title:before,
.section-price-title:before,
.section-contact-us-title:before,
.stylish-design-title:before,
.customers-saying-title:before {
  content: '';
  position: absolute;
  margin-top: 20px;
  height: 2px;
  background-color: #ff9b51;
  width: 65px;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
}
/* line 40, ../sass/page/_index.scss */
.section-awesome-title:after .title-bottom-border,
.section-price-title:after .title-bottom-border,
.section-contact-us-title:after .title-bottom-border,
.stylish-design-title:after .title-bottom-border,
.customers-saying-title:after .title-bottom-border {
  height: 2px;
  width: 65px;
  background-color: #ff9b51;
}

/* line 48, ../sass/page/_index.scss */
.social-media-title,
.section-sub-title,
.standard-picture-title {
  margin-bottom: 15px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}

/* line 55, ../sass/page/_index.scss */
.wrapper-icon,
.awesome-wrapper-icon {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  color: #ff9b51;
  border: 2px solid #ff9b51;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

/*Social media section*/
/* line 69, ../sass/page/_index.scss */
.section-social-media {
  padding: 25px 0;
  border-bottom: 1px solid #b7b7b7;
}
@media (max-width: 768px) {
  /* line 69, ../sass/page/_index.scss */
  .section-social-media {
    text-align: center;
  }
}
/* line 77, ../sass/page/_index.scss */
.section-social-media-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
/* line 83, ../sass/page/_index.scss */
.section-social-media-info {
  display: inline-block;
  margin-right: 40px;
  -webkit-flex-basis: 35%;
  -ms-flex-basis: 35%;
  flex-basis: 35%;
  max-width: 35%;
}
@media (max-width: 768px) {
  /* line 83, ../sass/page/_index.scss */
  .section-social-media-info {
    margin-right: 5px;
    -webkit-flex-basis: 100%;
    -ms-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}
/* line 95, ../sass/page/_index.scss */
.section-social-media-info .social-media-text {
  margin-bottom: 25px;
  color: #86878b;
  font-family: "Open Sans", sans-serif;
}
/* line 101, ../sass/page/_index.scss */
.section-social-media .social-icon-list {
  display: inline-block;
  -webkit-flex-basis: 60%;
  -ms-flex-basis: 60%;
  flex-basis: 60%;
  max-width: 60%;
}
@media (max-width: 768px) {
  /* line 101, ../sass/page/_index.scss */
  .section-social-media .social-icon-list {
    -webkit-flex-basis: 100%;
    -ms-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}
/* line 111, ../sass/page/_index.scss */
.section-social-media .social-icon-list-item {
  padding: 0 15px 0 40px;
  display: inline-block;
}
@media (max-width: 1135px) {
  /* line 111, ../sass/page/_index.scss */
  .section-social-media .social-icon-list-item {
    padding-left: 25px;
  }
}
@media (max-width: 960px) {
  /* line 111, ../sass/page/_index.scss */
  .section-social-media .social-icon-list-item {
    padding-left: 10px;
  }
}
/* line 123, ../sass/page/_index.scss */
.section-social-media .social-icon-list-item-link {
  display: inline-block;
}
/* line 127, ../sass/page/_index.scss */
.section-social-media .social-icon-list-item .fa-icon {
  font-size: 2.5rem;
  color: #ccc;
}
/* line 131, ../sass/page/_index.scss */
.section-social-media .social-icon-list-item .fa-icon:hover {
  color: #ff9b51;
  transform: rotate(15deg);
}
@media (max-width: 576px) {
  /* line 127, ../sass/page/_index.scss */
  .section-social-media .social-icon-list-item .fa-icon {
    font-size: 1.5rem;
  }
}

/*Sub list section*/
/* line 145, ../sass/page/_index.scss */
.section-sub-list {
  padding: 110px 0 100px;
}
@media (max-width: 768px) {
  /* line 145, ../sass/page/_index.scss */
  .section-sub-list {
    padding: 50px 0;
  }
}
@media (max-width: 576px) {
  /* line 145, ../sass/page/_index.scss */
  .section-sub-list {
    padding: 30px 0;
  }
}
/* line 156, ../sass/page/_index.scss */
.section-sub-list-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
@media (max-width: 992px) {
  /* line 156, ../sass/page/_index.scss */
  .section-sub-list-wrapper {
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
/* line 167, ../sass/page/_index.scss */
.section-sub-list .section-sub-title {
  margin-bottom: 65px;
  position: relative;
}
/* line 18, ../sass/utils/_mixins.scss */
.section-sub-list .section-sub-title:before {
  content: '';
  position: absolute;
  margin-top: 20px;
  height: 2px;
  background-color: #ff9b51;
  width: 65px;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
}
/* line 170, ../sass/page/_index.scss */
.section-sub-list .section-sub-title:before {
  left: 35px;
}
/* line 175, ../sass/page/_index.scss */
.section-sub-list .sub-list-text {
  color: #86878b;
  font-family: "Open Sans", sans-serif;
}
/* line 179, ../sass/page/_index.scss */
.section-sub-list .info-text {
  margin-bottom: 50px;
}
/* line 183, ../sass/page/_index.scss */
.section-sub-list .info-title {
  margin-bottom: 15px;
}
/* line 187, ../sass/page/_index.scss */
.section-sub-list-img {
  margin: 0 185px 45px 0;
  box-shadow: 10px 10px 10px 7px #dedede;
}
@media (max-width: 1140px) {
  /* line 187, ../sass/page/_index.scss */
  .section-sub-list-img {
    margin-right: 50px;
  }
}
@media (max-width: 568px) {
  /* line 187, ../sass/page/_index.scss */
  .section-sub-list-img {
    margin: 0 0 30px;
    width: 100%;
  }
}
/* line 201, ../sass/page/_index.scss */
.section-sub-list .info-list-item {
  margin-bottom: 45px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
/* line 205, ../sass/page/_index.scss */
.section-sub-list .info-list-item .icon-section {
  font-size: 1rem;
}
/* line 209, ../sass/page/_index.scss */
.section-sub-list .info-list-item .info-list-item-wrapper {
  margin-left: 30px;
  -webkit-flex-basis: 100%;
  -ms-flex-basis: 100%;
  flex-basis: 100%;
}

/*Standard picture section*/
/* line 217, ../sass/page/_index.scss */
.section-standard-picture {
  padding: 105px 0;
  background-color: #f5f5f5;
}
/* line 221, ../sass/page/_index.scss */
.section-standard-picture-wrapper-info {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
@media (max-width: 992px) {
  /* line 221, ../sass/page/_index.scss */
  .section-standard-picture-wrapper-info {
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
/* line 232, ../sass/page/_index.scss */
.section-standard-picture .standard-picture-wrapper-info {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
@media (max-width: 992px) {
  /* line 232, ../sass/page/_index.scss */
  .section-standard-picture .standard-picture-wrapper-info {
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
/* line 243, ../sass/page/_index.scss */
.section-standard-picture .standard-picture-title {
  margin-bottom: 65px;
  position: relative;
}
/* line 18, ../sass/utils/_mixins.scss */
.section-standard-picture .standard-picture-title:before {
  content: '';
  position: absolute;
  margin-top: 20px;
  height: 2px;
  background-color: #ff9b51;
  width: 65px;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
}
/* line 246, ../sass/page/_index.scss */
.section-standard-picture .standard-picture-title:before {
  left: 33px;
}
/* line 250, ../sass/page/_index.scss */
.section-standard-picture .standard-picture-text {
  margin-bottom: 30px;
  color: #86878b;
  font-family: "Open Sans", sans-serif;
}
/* line 255, ../sass/page/_index.scss */
.section-standard-picture .standard-picture-img {
  margin: 0 0 45px 185px;
  box-shadow: 10px 10px 10px 7px #dedede;
}
@media (max-width: 1140px) {
  /* line 255, ../sass/page/_index.scss */
  .section-standard-picture .standard-picture-img {
    margin-left: 50px;
  }
}
@media (max-width: 568px) {
  /* line 255, ../sass/page/_index.scss */
  .section-standard-picture .standard-picture-img {
    margin: 0;
    width: 100%;
  }
}

/*Awesome section*/
/* line 271, ../sass/page/_index.scss */
.section-awesome {
  padding: 100px 0;
  text-align: center;
}
/* line 275, ../sass/page/_index.scss */
.section-awesome-info {
  margin-bottom: 80px;
  color: #86878b;
  font-family: "Open Sans", sans-serif;
}
/* line 280, ../sass/page/_index.scss */
.section-awesome-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* line 284, ../sass/page/_index.scss */
.section-awesome-list .awesome-list-item {
  margin-bottom: 30px;
  padding: 0 10px;
  max-width: 33%;
  text-align: center;
}
@media (max-width: 768px) {
  /* line 284, ../sass/page/_index.scss */
  .section-awesome-list .awesome-list-item {
    max-width: 50%;
  }
}
@media (max-width: 576px) {
  /* line 284, ../sass/page/_index.scss */
  .section-awesome-list .awesome-list-item {
    max-width: 100%;
  }
}
/* line 298, ../sass/page/_index.scss */
.section-awesome-list .awesome-list-item .awesome-wrapper-icon {
  margin: 0 auto 30px;
  width: 75px;
  height: 75px;
}
/* line 304, ../sass/page/_index.scss */
.section-awesome-list .awesome-list-item .icon-section {
  font-size: 2rem;
}
/* line 308, ../sass/page/_index.scss */
.section-awesome-list .awesome-list-item .list-item-link-title {
  margin-bottom: 30px;
}
/* line 312, ../sass/page/_index.scss */
.section-awesome-list .awesome-list-item-info {
  color: #86878b;
  font-family: "Open Sans", sans-serif;
}

/*Price section*/
/* line 320, ../sass/page/_index.scss */
.section-price {
  padding: 110px 0 100px;
  text-align: center;
  background-color: #f5f5f5;
}
/* line 325, ../sass/page/_index.scss */
.section-price-info {
  margin-bottom: 80px;
  color: #86878b;
  font-family: "Open Sans", sans-serif;
}
/* line 330, ../sass/page/_index.scss */
.section-price-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
/* line 336, ../sass/page/_index.scss */
.section-price-list-item {
  padding: 0 20px;
  margin-bottom: 30px;
  -webkit-flex-basis: 33%;
  -ms-flex-basis: 33%;
  flex-basis: 33%;
  max-width: 33%;
  color: #fff;
  font-size: "Raleway", sans-serif;
}
@media (max-width: 992px) {
  /* line 336, ../sass/page/_index.scss */
  .section-price-list-item {
    max-width: 50%;
    -webkit-flex-basis: 50%;
    -ms-flex-basis: 50%;
    flex-basis: 50%;
  }
}
@media (max-width: 568px) {
  /* line 336, ../sass/page/_index.scss */
  .section-price-list-item {
    max-width: 100%;
    -webkit-flex-basis: 100%;
    -ms-flex-basis: 100%;
    flex-basis: 100%;
  }
}
/* line 355, ../sass/page/_index.scss */
.section-price-list-item:hover .price-popular-text {
  padding: 15px;
  background-color: #ff9b51;
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
}
/* line 364, ../sass/page/_index.scss */
.section-price-list-item .item-block {
  background-color: #37495e;
}
/* line 368, ../sass/page/_index.scss */
.section-price-list-item .price-status {
  display: block;
}
/* line 372, ../sass/page/_index.scss */
.section-price-list-item .price-number {
  font-size: 6rem;
}
/* line 376, ../sass/page/_index.scss */
.section-price-list-item .price-item-title,
.section-price-list-item .price-status {
  padding: 20px 0;
}
/* line 381, ../sass/page/_index.scss */
.section-price-list-item .price {
  padding-bottom: 0;
  border-top: 2px solid #f5f5f5;
  border-bottom: 2px solid #f5f5f5;
  font-size: 2rem;
}
/* line 388, ../sass/page/_index.scss */
.section-price-list-item .price-status {
  color: #86878b;
  font-style: italic;
}
/* line 393, ../sass/page/_index.scss */
.section-price-list-item .price-popular-text {
  border: 2px solid #ff9b51;
  display: block;
  font-size: 0;
}
/* line 399, ../sass/page/_index.scss */
.section-price-list-item .status-price-list-item {
  padding: 15px 0;
  background-color: #fff;
  color: #86878b;
  text-transform: uppercase;
  border-bottom: 1px solid #f5f5f5;
}
/* line 407, ../sass/page/_index.scss */
.section-price-list-item .price-item-title-link:link,
.section-price-list-item .price-popular-link:link {
  color: #fff;
  text-decoration: none;
}

/*Customers saying section*/
/* line 417, ../sass/page/_index.scss */
.section-customers-saying {
  padding: 105px 0 100px;
  text-align: center;
}
/* line 421, ../sass/page/_index.scss */
.section-customers-saying .customers-saying-info {
  margin-bottom: 55px;
  color: #86878b;
  font-family: "Open Sans", sans-serif;
}
/* line 426, ../sass/page/_index.scss */
.section-customers-saying .customers-info {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
/* line 431, ../sass/page/_index.scss */
.section-customers-saying .customers-info .customers-text-info {
  margin-left: 20px;
}
/* line 434, ../sass/page/_index.scss */
.section-customers-saying .customers-info .customers-text-info .customers-saying-position {
  color: #86878b;
  font-family: "Open Sans", sans-serif;
}
/* line 440, ../sass/page/_index.scss */
.section-customers-saying .blockquote-customers {
  margin-bottom: 20px;
  padding: 25px 10px;
  position: relative;
  color: #86878b;
  font-family: "Open Sans", sans-serif;
  text-align: left;
  background-color: #f5f5f5;
}
/* line 448, ../sass/page/_index.scss */
.section-customers-saying .blockquote-customers:after {
  content: '';
  position: absolute;
  left: 75px;
  bottom: -35px;
  border: 20px solid transparent;
  border-top: 20px solid #f5f5f5;
}
/* line 458, ../sass/page/_index.scss */
.section-customers-saying .slick-prev:before,
.section-customers-saying .slick-next:before {
  color: #ff9b51;
}

/*Stylish axure design section*/
/* line 465, ../sass/page/_index.scss */
.section-stylish-axure-design {
  padding: 70px 0 60px;
  text-align: center;
  background-image: url("../images/paralax.png");
  background-size: cover;
}
/* line 471, ../sass/page/_index.scss */
.section-stylish-axure-design .stylish-design-title {
  color: #fff;
}
/* line 475, ../sass/page/_index.scss */
.section-stylish-axure-design .stylish-design-info {
  margin-bottom: 35px;
  color: #86878b;
  font-family: "Open Sans", sans-serif;
  color: #fff;
}
/* line 481, ../sass/page/_index.scss */
.section-stylish-axure-design .download-btn {
  padding: 15px 25px;
  background-color: transparent;
  border: 1 solid #fff;
  border-radius: 0;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

/*Contact us section*/
/* line 487, ../sass/page/_index.scss */
.section-contact-us {
  padding: 105px 0 80px;
  text-align: center;
}
/* line 491, ../sass/page/_index.scss */
.section-contact-us .section-contact-us-info {
  margin-bottom: 95px;
  color: #86878b;
  font-family: "Open Sans", sans-serif;
}
/* line 496, ../sass/page/_index.scss */
.section-contact-us .form-contact-us {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* line 501, ../sass/page/_index.scss */
.section-contact-us .form-contact-us .form-block {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-basis: 50%;
  -ms-flex-basis: 50%;
  flex-basis: 50%;
  max-width: 50%;
}
@media (max-width: 768px) {
  /* line 501, ../sass/page/_index.scss */
  .section-contact-us .form-contact-us .form-block {
    margin-bottom: 30px;
    -webkit-flex-basis: 100%;
    -ms-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}
/* line 514, ../sass/page/_index.scss */
.section-contact-us .form-contact-us .form-block .item-contact-us,
.section-contact-us .form-contact-us .form-block .field-contact-us {
  color: #bdbdbd;
  font-family: "Open Sans", sans-serif;
  border: none;
  border-bottom: 1px solid #b7b7b7;
}
/* line 522, ../sass/page/_index.scss */
.section-contact-us .form-contact-us .form-block .field-contact-us {
  padding-bottom: 10px;
  margin: 34px 70px 0 0;
}
/* line 527, ../sass/page/_index.scss */
.section-contact-us .form-contact-us .form-block .item-contact-us {
  overflow: hidden;
}
/* line 532, ../sass/page/_index.scss */
.section-contact-us .form-contact-us .sent-message-btn {
  padding: 15px 25px;
  background-color: #ff9b51;
  border: 0 solid #fff;
  border-radius: 10px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  border: none;
}
