/*----------------------------------------------------------------------------------//
//------------------------------RESET DEFAULT STYLES--------------------------------//
//----------------------------------------------------------------------------------*/
* {
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  font: 14px "Myriad Pro", arial, Tahoma, sans-serif;
  color: #333; }

div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, input, textarea {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none; }

h1, h2 {
  font-size: 36px; }

h3 {
  font-size: 20px; }

select, input, textarea {
  font-size: 14px;
  vertical-align: middle; }

textarea {
  vertical-align: top; }

:focus {
  outline: none; }

input[type=submit] {
  cursor: pointer; }

img, fieldset {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a, a:link, a:visited {
  font: 14px Calibri, Tahoma, sans-serif;
  color: #333;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

/*Colors*/
/*Fonts*/
/*Text info*/
/*Sub title*/
/*Title underline*/
/*Buttons*/
/*Display flex*/
/*Flex shrink*/
/*Justify content*/
/*Justify content*/
/*Flex wrap*/
/*Flex basis*/
/*Flex align items*/
/*Flex direction*/
.header .main-menu {
  padding: 10px 0;
  position: relative;
  background-color: #37495e; }
  .header .main-menu-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center; }
  .header .main-menu-item {
    display: inline-block;
    color: #c1c7cd; }
    .header .main-menu-item .hover-main-menu-block {
      padding: 20px;
      position: absolute;
      display: none;
      left: 12%;
      top: 100%;
      background-color: #f5f5f5;
      z-index: 1;
      overflow: hidden; }
      .header .main-menu-item .hover-main-menu-block .wrapper-hover-menu {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: space-between;
        -ms-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center; }
      .header .main-menu-item .hover-main-menu-block .sub-main-menu-list,
      .header .main-menu-item .hover-main-menu-block .list-preview-pages {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: space-between;
        -ms-justify-content: space-between;
        justify-content: space-between; }
      .header .main-menu-item .hover-main-menu-block .preview-pages-img {
        width: 135px;
        height: 90px; }
      .header .main-menu-item .hover-main-menu-block .item-preview-pages {
        margin-right: 30px; }
        @media (max-width: 768px) {
          .header .main-menu-item .hover-main-menu-block .item-preview-pages {
            margin-right: 10px; } }
      .header .main-menu-item .hover-main-menu-block .sub-main-menu-item {
        margin-right: 50px; }
        @media (max-width: 1024px) {
          .header .main-menu-item .hover-main-menu-block .sub-main-menu-item {
            margin-right: 20px; } }
    .header .main-menu-item:hover .hover-main-menu-block,
    .header .main-menu-item:hover .hover-main-menu-block:hover {
      display: inline-block; }
    .header .main-menu-item .sub-menu-link:hover,
    .header .main-menu-item .title-preview-pages:hover {
      color: #ff9b51; }
.header .main-menu-link {
  padding: 20px;
  margin-left: 25px;
  display: inline-block; }
  .header .main-menu-link:hover {
    background-color: #ff9b51; }
  .header .main-menu-link:link, .header .main-menu-link:visited {
    color: #86878b;
    font-family: "Open Sans", sans-serif;
    font-weight: 600; }
    .header .main-menu-link:link:hover, .header .main-menu-link:visited:hover {
      color: #c1c7cd; }
.header-content {
  padding: 140px 0;
  background-image: url("../images/bg_header.png");
  background-size: cover; }
  .header-content .content {
    text-align: left;
    color: #fff;
    -webkit-flex-basis: 50%;
    -ms-flex-basis: 50%;
    flex-basis: 50%;
    max-width: 50%; }
    @media (max-width: 768px) {
      .header-content .content {
        margin-bottom: 30px;
        -webkit-flex-basis: 100%;
        -ms-flex-basis: 100%;
        flex-basis: 100%;
        max-width: 100%; } }
    .header-content .content-title {
      font-family: "Raleway", sans-serif;
      text-transform: uppercase;
      display: block;
      margin-bottom: 65px;
      position: relative;
      font-weight: 400; }
      .header-content .content-title:before {
        content: '';
        position: absolute;
        margin-top: 20px;
        height: 2px;
        background-color: #fff;
        width: 65px;
        left: 50%;
        top: 100%;
        transform: translateX(-50%); }
      .header-content .content-title:before {
        left: 33px; }
    .header-content .content-text {
      margin-bottom: 40px;
      font-family: "Open Sans", sans-serif; }
    .header-content .content .download-btn {
      padding: 15px 25px;
      background-color: transparent;
      border: 1px solid #fff;
      border-radius: 0;
      color: #fff;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      cursor: pointer; }
      .header-content .content .download-btn:hover {
        background-color: #ff9b51; }
.header .content-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end; }
  @media (max-width: 768px) {
    .header .content-wrapper {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
.header-form {
  -webkit-flex-basis: 35%;
  -ms-flex-basis: 35%;
  flex-basis: 35%;
  max-width: 35%; }
  @media (max-width: 768px) {
    .header-form {
      margin-bottom: 30px;
      -webkit-flex-basis: 100%;
      -ms-flex-basis: 100%;
      flex-basis: 100%;
      max-width: 100%; } }
  .header-form-title {
    padding: 20px 40px;
    font-size: 1.5rem;
    text-align: center;
    background-color: #f5f5f5;
    width: 100%;
    border-radius: 5px 5px 0 0; }
  .header-form .form-block {
    padding: 0 40px 50px;
    font-size: 1.5rem;
    background-color: #fff;
    width: 100%;
    text-align: center; }
    .header-form .form-block .field-header-form {
      padding: 45px 10px 10px;
      border: none;
      border-bottom: 1px solid #f5f5f5;
      display: block;
      width: 100%; }
  .header-form .sent-message-btn {
    padding: 15px 25px;
    background-color: #ff9b51;
    border: 0px solid #fff;
    border-radius: 0px 0px 5px 5px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
    font-size: 1rem; }
  .header-form .text-secondary-color {
    color: #ff9b51; }

.footer {
  padding: 20px 0 15px;
  background-color: #37495e;
  text-align: center; }
  .footer .fa-icon,
  .footer .social-icon-list-item {
    color: #ccc; }
  .footer .social-icon-list-item {
    margin-bottom: 15px;
    padding: 0 15px 0 40px;
    display: inline-block; }
    @media (max-width: 1135px) {
      .footer .social-icon-list-item {
        padding-left: 25px; } }
    @media (max-width: 960px) {
      .footer .social-icon-list-item {
        padding-left: 10px; } }
    .footer .social-icon-list-item-link {
      display: inline-block; }
    .footer .social-icon-list-item .fa-icon {
      font-size: 2.2rem;
      color: #ccc; }
      .footer .social-icon-list-item .fa-icon:hover {
        color: #ff9b51;
        transform: rotate(15deg); }
      @media (max-width: 576px) {
        .footer .social-icon-list-item .fa-icon {
          font-size: 1.5rem; } }
  .footer .copyright-text,
  .footer .copyright-icon {
    color: #ccc;
    font-family: "Raleway", sans-serif; }

/*Common*/
.wrapper {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1140px; }
  @media (max-width: 1024px) {
    .wrapper {
      max-width: 1000px; } }
  @media (max-width: 992px) {
    .wrapper {
      max-width: 960px; } }
  @media (max-width: 768px) {
    .wrapper {
      max-width: 720px; } }
  @media (max-width: 576px) {
    .wrapper {
      max-width: 540px; } }

a:link {
  text-decoration: none; }

.section-awesome-title,
.section-price-title,
.section-contact-us-title,
.stylish-design-title,
.customers-saying-title {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  display: block;
  font-weight: 400;
  margin-bottom: 65px;
  position: relative; }
  .section-awesome-title:before,
  .section-price-title:before,
  .section-contact-us-title:before,
  .stylish-design-title:before,
  .customers-saying-title:before {
    content: '';
    position: absolute;
    margin-top: 20px;
    height: 2px;
    background-color: #ff9b51;
    width: 65px;
    left: 50%;
    top: 100%;
    transform: translateX(-50%); }
  .section-awesome-title:after .title-bottom-border,
  .section-price-title:after .title-bottom-border,
  .section-contact-us-title:after .title-bottom-border,
  .stylish-design-title:after .title-bottom-border,
  .customers-saying-title:after .title-bottom-border {
    height: 2px;
    width: 65px;
    background-color: #ff9b51; }

.social-media-title,
.section-sub-title,
.standard-picture-title {
  margin-bottom: 15px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif; }

.wrapper-icon,
.awesome-wrapper-icon {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  color: #ff9b51;
  border: 2px solid #ff9b51;
  border-radius: 50%;
  width: 45px;
  height: 45px; }

/*Social media section*/
.section-social-media {
  padding: 25px 0;
  border-bottom: 1px solid #b7b7b7; }
  @media (max-width: 768px) {
    .section-social-media {
      text-align: center; } }
  .section-social-media-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
  .section-social-media-info {
    display: inline-block;
    margin-right: 40px;
    -webkit-flex-basis: 35%;
    -ms-flex-basis: 35%;
    flex-basis: 35%;
    max-width: 35%; }
    @media (max-width: 768px) {
      .section-social-media-info {
        margin-right: 5px;
        -webkit-flex-basis: 100%;
        -ms-flex-basis: 100%;
        flex-basis: 100%;
        max-width: 100%; } }
    .section-social-media-info .social-media-text {
      margin-bottom: 25px;
      color: #86878b;
      font-family: "Open Sans", sans-serif; }
  .section-social-media .social-icon-list {
    display: inline-block;
    -webkit-flex-basis: 60%;
    -ms-flex-basis: 60%;
    flex-basis: 60%;
    max-width: 60%; }
    @media (max-width: 768px) {
      .section-social-media .social-icon-list {
        -webkit-flex-basis: 100%;
        -ms-flex-basis: 100%;
        flex-basis: 100%;
        max-width: 100%; } }
    .section-social-media .social-icon-list-item {
      padding: 0 15px 0 40px;
      display: inline-block; }
      @media (max-width: 1135px) {
        .section-social-media .social-icon-list-item {
          padding-left: 25px; } }
      @media (max-width: 960px) {
        .section-social-media .social-icon-list-item {
          padding-left: 10px; } }
      .section-social-media .social-icon-list-item-link {
        display: inline-block; }
      .section-social-media .social-icon-list-item .fa-icon {
        font-size: 2.5rem;
        color: #ccc; }
        .section-social-media .social-icon-list-item .fa-icon:hover {
          color: #ff9b51;
          transform: rotate(15deg); }
        @media (max-width: 576px) {
          .section-social-media .social-icon-list-item .fa-icon {
            font-size: 1.5rem; } }

/*Sub list section*/
.section-sub-list {
  padding: 110px 0 100px; }
  @media (max-width: 768px) {
    .section-sub-list {
      padding: 50px 0; } }
  @media (max-width: 576px) {
    .section-sub-list {
      padding: 30px 0; } }
  .section-sub-list-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center; }
    @media (max-width: 992px) {
      .section-sub-list-wrapper {
        -webkit-justify-content: space-between;
        -ms-justify-content: space-between;
        justify-content: space-between;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
  .section-sub-list .section-sub-title {
    margin-bottom: 65px;
    position: relative; }
    .section-sub-list .section-sub-title:before {
      content: '';
      position: absolute;
      margin-top: 20px;
      height: 2px;
      background-color: #ff9b51;
      width: 65px;
      left: 50%;
      top: 100%;
      transform: translateX(-50%); }
    .section-sub-list .section-sub-title:before {
      left: 35px; }
  .section-sub-list .sub-list-text {
    color: #86878b;
    font-family: "Open Sans", sans-serif; }
  .section-sub-list .info-text {
    margin-bottom: 50px; }
  .section-sub-list .info-title {
    margin-bottom: 15px; }
  .section-sub-list-img {
    margin: 0 185px 45px 0;
    box-shadow: 10px 10px 10px 7px #dedede; }
    @media (max-width: 1140px) {
      .section-sub-list-img {
        margin-right: 50px; } }
    @media (max-width: 568px) {
      .section-sub-list-img {
        margin: 0 0 30px;
        width: 100%; } }
  .section-sub-list .info-list-item {
    margin-bottom: 45px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    .section-sub-list .info-list-item .icon-section {
      font-size: 1rem; }
    .section-sub-list .info-list-item .info-list-item-wrapper {
      margin-left: 30px;
      -webkit-flex-basis: 100%;
      -ms-flex-basis: 100%;
      flex-basis: 100%; }

/*Standard picture section*/
.section-standard-picture {
  padding: 105px 0;
  background-color: #f5f5f5; }
  .section-standard-picture-wrapper-info {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center; }
    @media (max-width: 992px) {
      .section-standard-picture-wrapper-info {
        -webkit-justify-content: space-between;
        -ms-justify-content: space-between;
        justify-content: space-between;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
  .section-standard-picture .standard-picture-wrapper-info {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center; }
    @media (max-width: 992px) {
      .section-standard-picture .standard-picture-wrapper-info {
        -webkit-justify-content: space-between;
        -ms-justify-content: space-between;
        justify-content: space-between;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
  .section-standard-picture .standard-picture-title {
    margin-bottom: 65px;
    position: relative; }
    .section-standard-picture .standard-picture-title:before {
      content: '';
      position: absolute;
      margin-top: 20px;
      height: 2px;
      background-color: #ff9b51;
      width: 65px;
      left: 50%;
      top: 100%;
      transform: translateX(-50%); }
    .section-standard-picture .standard-picture-title:before {
      left: 33px; }
  .section-standard-picture .standard-picture-text {
    margin-bottom: 30px;
    color: #86878b;
    font-family: "Open Sans", sans-serif; }
  .section-standard-picture .standard-picture-img {
    margin: 0 0 45px 185px;
    box-shadow: 10px 10px 10px 7px #dedede; }
    @media (max-width: 1140px) {
      .section-standard-picture .standard-picture-img {
        margin-left: 50px; } }
    @media (max-width: 568px) {
      .section-standard-picture .standard-picture-img {
        margin: 0;
        width: 100%; } }

/*Awesome section*/
.section-awesome {
  padding: 100px 0;
  text-align: center; }
  .section-awesome-info {
    margin-bottom: 80px;
    color: #86878b;
    font-family: "Open Sans", sans-serif; }
  .section-awesome-list {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center; }
    .section-awesome-list .awesome-list-item {
      margin-bottom: 30px;
      padding: 0 10px;
      max-width: 33%;
      text-align: center; }
      @media (max-width: 768px) {
        .section-awesome-list .awesome-list-item {
          max-width: 50%; } }
      @media (max-width: 576px) {
        .section-awesome-list .awesome-list-item {
          max-width: 100%; } }
      .section-awesome-list .awesome-list-item .awesome-wrapper-icon {
        margin: 0 auto 30px;
        width: 75px;
        height: 75px; }
      .section-awesome-list .awesome-list-item .icon-section {
        font-size: 2rem; }
      .section-awesome-list .awesome-list-item .list-item-link-title {
        margin-bottom: 30px; }
      .section-awesome-list .awesome-list-item-info {
        color: #86878b;
        font-family: "Open Sans", sans-serif; }

/*Price section*/
.section-price {
  padding: 110px 0 100px;
  text-align: center;
  background-color: #f5f5f5; }
  .section-price-info {
    margin-bottom: 30px;
    color: #86878b;
    font-family: "Open Sans", sans-serif; }
  .section-price-list {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end; }
    .section-price-list-item {
      padding: 55px 20px 0;
      margin-bottom: 30px;
      -webkit-flex-basis: 33%;
      -ms-flex-basis: 33%;
      flex-basis: 33%;
      max-width: 33%;
      color: #fff;
      font-size: "Raleway", sans-serif; }
      @media (max-width: 992px) {
        .section-price-list-item {
          max-width: 50%;
          -webkit-flex-basis: 50%;
          -ms-flex-basis: 50%;
          flex-basis: 50%; } }
      @media (max-width: 568px) {
        .section-price-list-item {
          max-width: 100%;
          -webkit-flex-basis: 100%;
          -ms-flex-basis: 100%;
          flex-basis: 100%; } }
      .section-price-list-item:hover {
        padding-top: 0; }
        .section-price-list-item:hover .price-popular-text {
          padding: 15px;
          background-color: #ff9b51;
          font-size: 1rem;
          text-transform: uppercase; }
      .section-price-list-item .item-block {
        background-color: #37495e; }
      .section-price-list-item .price-status {
        display: block; }
      .section-price-list-item .price-number {
        font-size: 6rem; }
      .section-price-list-item .price-item-title,
      .section-price-list-item .price-status {
        padding: 20px 0; }
      .section-price-list-item .price {
        padding-bottom: 0;
        border-top: 2px solid #f5f5f5;
        border-bottom: 2px solid #f5f5f5;
        font-size: 2rem; }
      .section-price-list-item .price-status {
        color: #86878b;
        font-style: italic; }
      .section-price-list-item .price-popular-text {
        border: 2px solid #ff9b51;
        display: block;
        font-size: 0; }
      .section-price-list-item .status-price-list-item {
        padding: 15px 0;
        background-color: #fff;
        color: #86878b;
        text-transform: uppercase;
        border-bottom: 1px solid #f5f5f5; }
      .section-price-list-item .price-item-title-link:link,
      .section-price-list-item .price-item-title-link:visited,
      .section-price-list-item .price-popular-link:link,
      .section-price-list-item .price-popular-link:visited {
        color: #fff;
        text-decoration: none; }

/*Customers saying section*/
.section-customers-saying {
  padding: 105px 0 100px;
  text-align: center; }
  .section-customers-saying .customers-saying-info {
    margin-bottom: 55px;
    color: #86878b;
    font-family: "Open Sans", sans-serif; }
  .section-customers-saying .customers-info {
    padding-left: 55px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center; }
    .section-customers-saying .customers-info .customers-text-info {
      margin-left: 20px; }
      .section-customers-saying .customers-info .customers-text-info .customers-saying-position {
        color: #86878b;
        font-family: "Open Sans", sans-serif; }
  .section-customers-saying .blockquote-customers {
    margin: 0 55px 20px;
    padding: 25px 10px;
    position: relative;
    color: #86878b;
    font-family: "Open Sans", sans-serif;
    text-align: left;
    background-color: #f5f5f5; }
    .section-customers-saying .blockquote-customers:after {
      content: '';
      position: absolute;
      left: 15px;
      bottom: -35px;
      border: 20px solid transparent;
      border-top: 20px solid #f5f5f5; }
  .section-customers-saying .customers-saying-img {
    border-radius: 50%; }
  .section-customers-saying .slick-next {
    right: 0; }
    .section-customers-saying .slick-next:before {
      content: "\f105"; }
  .section-customers-saying .slick-prev {
    left: 0; }
    .section-customers-saying .slick-prev:before {
      content: "\f104"; }
  .section-customers-saying .slick-prev,
  .section-customers-saying .slick-next {
    height: 35px; }
    .section-customers-saying .slick-prev:before,
    .section-customers-saying .slick-next:before {
      color: #ff9b51;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 2.5rem; }
      @media (max-width: 576px) {
        .section-customers-saying .slick-prev:before,
        .section-customers-saying .slick-next:before {
          content: ""; } }

/*Stylish axure design section*/
.section-stylish-axure-design {
  padding: 70px 0 60px;
  text-align: center;
  background-image: url("../images/paralax.png");
  background-size: cover; }
  .section-stylish-axure-design .stylish-design-title {
    color: #fff; }
  .section-stylish-axure-design .stylish-design-info {
    margin-bottom: 35px;
    color: #86878b;
    font-family: "Open Sans", sans-serif;
    color: #fff; }
  .section-stylish-axure-design .download-btn {
    padding: 15px 25px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 0;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    cursor: pointer; }
    .section-stylish-axure-design .download-btn:hover {
      background-color: #ff9b51; }

/*Contact us section*/
.section-contact-us {
  padding: 105px 0 80px;
  text-align: center; }
  .section-contact-us .section-contact-us-info {
    margin-bottom: 95px;
    color: #86878b;
    font-family: "Open Sans", sans-serif; }
  .section-contact-us .form-contact-us {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .section-contact-us .form-contact-us .form-block {
      margin-bottom: 40px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-flex-basis: 50%;
      -ms-flex-basis: 50%;
      flex-basis: 50%;
      max-width: 50%; }
      @media (max-width: 768px) {
        .section-contact-us .form-contact-us .form-block {
          margin-bottom: 30px;
          -webkit-flex-basis: 100%;
          -ms-flex-basis: 100%;
          flex-basis: 100%;
          max-width: 100%; } }
      .section-contact-us .form-contact-us .form-block .item-contact-us,
      .section-contact-us .form-contact-us .form-block .field-contact-us {
        font-family: "Open Sans", sans-serif;
        border: none;
        border-bottom: 1px solid #b7b7b7; }
      .section-contact-us .form-contact-us .form-block .field-contact-us {
        padding-bottom: 10px;
        margin: 34px 70px 0 0; }
      .section-contact-us .form-contact-us .form-block .item-contact-us {
        overflow: hidden; }
    .section-contact-us .form-contact-us .sent-message-btn {
      padding: 15px 25px;
      background-color: #ff9b51;
      border: 0px solid #fff;
      border-radius: 10px;
      color: #fff;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      cursor: pointer; }
      .section-contact-us .form-contact-us .sent-message-btn:hover {
        padding-bottom: 13px;
        background-color: transparent;
        color: #ff9b51;
        border-color: #ff9b51;
        border-width: 1px; }

/*# sourceMappingURL=main.css.map */
