.header {

  .main-menu {
    position: relative;
    background-color: $brand-color;

    @media (max-width: 768px) {
      padding: 20px 0;
    }

    &-wrapper {
      @include display-flex();
      @include flex-wrap();
      @include justify-content(space-between);
      @include align-items();
    }

    &-item {
      display: inline-block;
      color: $nav-color;

      .hover-main-menu-block {
        padding: 20px;
        position: absolute;
        display: none;
        left: 15%;
        top: 100%;
        background-color: $bg-section;
        z-index: 1;
        overflow: hidden;

        @media (max-width: 1024px) and (min-width: 992px) {
          left: 40%;
          right: 3%;
        }

        @media (max-width: 768px) and (min-width: 576px) {
          right: 20%;
          left: 10%;
        }

        .wrapper-hover-menu {
          @include display-flex();
          @include flex-wrap();
          @include justify-content(space-between);
          @include align-items();
        }

        .sub-main-menu-list,
        .list-preview-pages {
          @include display-flex();
          @include flex-wrap();
          @include justify-content(space-between);
        }

        .preview-pages-img {
          width: 105px;
          height: 70px;
        }

        .item-preview-pages {
          margin-right: 30px;

          @media (max-width: 1024px) {
            margin-right: 20px;
          }

          @media (max-width: 992px) {
            margin-right: 10px;
          }
        }

        .sub-main-menu-item {
          margin-right: 50px;

          @media (max-width: 1200px) {
            margin-right: 30px;
          }

          @media (max-width: 992px) {
            margin-right: 20px;
          }
        }
      }

      &:hover {
        .hover-main-menu-block,
        .hover-main-menu-block:hover {
          display: inline-block;
        }
      }

      .sub-menu-link:hover,
      .title-preview-pages:hover {
        color: $secondary-brand-color;
      }
    }
  }
  .main-menu-link {
    padding: 25px 20px;
    margin-left: 25px;
    display: inline-block;

    &:hover {
      background-color: $secondary-brand-color;
    }

    &:link,
    &:visited {
      @include light-gray-text();
      font-weight: 600;

      &:hover {
        color: $nav-color;
      }
    }
  }

  &-content {
    padding: 140px 0;
    background-image: url("../images/bg_header.png");
    background-size: cover;

    .content {
      text-align: left;
      color: $price-text;
      @include flex-basis(50%);
      max-width: 50%;

      @media (max-width: 768px) {
        margin-bottom: 30px;
        @include flex-basis(100%);
        max-width: 100%;
      }

      &-title {
        font-family: $secondary-text-font;
        text-transform: uppercase;
        display: block;
        @include title-underline($price-text);
        font-weight: 400;

        &:before {
          left: 33px;
        }
      }

      &-text {
        margin-bottom: 40px;
        font-family: $text-font;
      }

      .download-btn {
        @include make-btn(transparent, 1px, 0);

        &:hover {
          background-color: $secondary-brand-color;
        }
      }
    }
  }

  .content-wrapper {
    @include display-flex();
    @include justify-content(space-between);
    @include align-items(flex-end);

    @media (max-width: 768px) {
      @include flex-wrap();
    }
  }

  &-form {
    @include flex-basis(35%);
    max-width: 35%;

    @media (max-width: 768px) {
      margin-bottom: 30px;
      @include flex-basis(100%);
      max-width: 100%;
    }

    &-title {
      padding: 20px 40px;
      font-size: 1.5rem;
      text-align: center;
      background-color: $bg-section;
      width: 100%;
      border-radius: 5px 5px 0 0;
    }

    .form-block {
      padding: 0 40px 50px;
      font-size: 1.5rem;
      background-color: $price-text;
      width: 100%;
      text-align: center;

      .field-header-form {
        padding: 45px 10px 10px;
        border: none;
        border-bottom: 1px solid $bg-section;
        display: block;
        width: 100%;
      }
    }

    .sent-message-btn {
      @include make-btn($secondary-brand-color, 0px, 0px 0px 5px 5px);
      width: 100%;
      font-size: 1rem;
    }

    .text-secondary-color {
      color: $secondary-brand-color;
    }
  }
}