/*Common*/
.wrapper {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1140px;

  @media (max-width: 1024px) {
    max-width: 1000px;
  }

  @media (max-width: 992px) {
    max-width: 960px;
  }

  @media (max-width: 768px) {
    max-width: 720px;
  }

  @media (max-width: 576px) {
    max-width: 540px;
  }
}

a:link {
  text-decoration: none;
}

.section-awesome-title,
.section-price-title,
.section-contact-us-title,
.stylish-design-title,
.customers-saying-title {
  font-family: $secondary-text-font;
  text-transform: uppercase;
  display: block;
  font-weight: 400;
  @include title-underline();

  &:after {
    .title-bottom-border {
      height: 2px;
      width: 65px;
      background-color: $secondary-brand-color;
    }
  }
}

.social-media-title,
.section-sub-title,
.standard-picture-title  {
  margin-bottom: 15px;
  @include sub-title-text();
}

.wrapper-icon,
.awesome-wrapper-icon {
  @include display-flex();
  @include flex-shrink();
  @include justify-content();
  @include align-items();
  color: $secondary-brand-color;
  border: 2px solid $secondary-brand-color;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

/*Social media section*/
.section-social-media {
  padding: 25px 0;
  border-bottom: 1px solid $section-border;

  @media (max-width: 768px) {
    text-align: center;
  }

  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &-info {
    display: inline-block;
    margin-right: 40px;
    @include flex-basis(35%);
    max-width: 35%;

    @media (max-width: 768px) {
      margin-right: 5px;
      @include flex-basis(100%);
      max-width: 100%;
    }

    .social-media-text {
      margin-bottom: 25px;
      @include light-gray-text();
    }
  }

  .social-icon-list {
    display: inline-block;
    @include flex-basis(60%);
    max-width: 60%;

    @media (max-width: 768px) {
      @include flex-basis(100%);
      max-width: 100%;
    }

    &-item {
      padding: 0 15px 0 40px;
      display: inline-block;

      @media (max-width: 1135px) {
        padding-left: 25px;
      }

      @media (max-width: 960px) {
        padding-left: 10px;
      }

      &-link {
        display: inline-block;
      }

      .fa-icon {
        font-size: 2.5rem;
        color: $text-icon-color;

        &:hover {
          color: $secondary-brand-color;
          transform: rotate(15deg);
        }

        @media (max-width: 576px) {
          font-size: 1.5rem;
        }
      }
    }
  }
}

/*Sub list section*/
.section-sub-list {
  padding: 110px 0 100px;

  @media (max-width: 768px) {
    padding: 50px 0;
  }

  @media (max-width: 576px) {
    padding: 30px 0;
  }

  &-wrapper {
    @include display-flex();
    @include align-items();
    @include justify-content();

    @media (max-width: 992px) {
      @include justify-content(space-between);
      @include flex-wrap();
    }
  }

  .section-sub-title {
    @include title-underline();

    &:before {
      left: 35px;
    }
  }

  .sub-list-text {
    @include light-gray-text();
  }

  .info-text {
    margin-bottom: 50px;
  }

  .info-title {
    margin-bottom: 15px;
  }

  &-img {
    margin: 0 185px 45px 0;
    box-shadow: 10px 10px 10px 7px $box-shadow-color;

    @media (max-width: 1140px) {
      margin-right: 50px;
    }

    @media (max-width: 568px) {
      margin: 0 0 30px;
      width: 100%;
    }
  }

  .info-list-item {
    margin-bottom: 45px;
    @include display-flex();

    .icon-section {
      font-size: 1rem;
    }

    .info-list-item-wrapper {
      margin-left: 30px;
      @include flex-basis(100%);
    }
  }
}

/*Standard picture section*/
.section-standard-picture {
  padding: 105px 0;
  background-color: $bg-section;

  &-wrapper-info {
    @include display-flex();
    @include align-items();
    @include justify-content();

    @media (max-width: 992px) {
      @include justify-content(space-between);
      @include flex-wrap();
    }
  }

  .standard-picture-wrapper-info {
    @include display-flex();
    @include align-items();
    @include justify-content();

    @media (max-width: 992px) {
      @include justify-content(space-between);
      @include flex-wrap();
    }
  }

  .standard-picture-title {
    @include title-underline();

    &:before {
      left: 33px;
    }
  }
  .standard-picture-text {
    margin-bottom: 30px;
    @include light-gray-text();
  }

  .standard-picture-img {
    margin: 0 0 45px 185px;
    box-shadow: 10px 10px 10px 7px #dedede;

    @media (max-width: 1140px) {
      margin-left: 50px;
    }

    @media (max-width: 568px) {
      margin: 0;
      width: 100%;
    }
  }
}

/*Awesome section*/
.section-awesome {
  padding: 100px 0;
  text-align: center;

  &-info {
    margin-bottom: 80px;
    @include light-gray-text();
  }

  &-list {
    @include display-flex();
    @include flex-wrap();
    @include justify-content();

    .awesome-list-item {
      margin-bottom: 30px;
      padding: 0 10px;
      max-width: 33%;
      text-align: center;

      @media (max-width: 768px) {
        max-width: 50%;
      }

      @media (max-width: 576px) {
        max-width: 100%;
      }

      .awesome-wrapper-icon {
        margin: 0 auto 30px;
        width: 75px;
        height: 75px;
      }

      .icon-section {
        font-size: 2rem;
      }

      .list-item-link-title {
        margin-bottom: 30px;
      }

      &-info {
        @include light-gray-text();
      }
    }
  }
}

/*Price section*/
.section-price {
  padding: 110px 0 100px;
  text-align: center;
  background-color: $bg-section;

  &-info {
    margin-bottom: 30px;
    @include light-gray-text();
  }

  &-list {
    @include display-flex();
    @include flex-wrap();
    @include justify-content();
    @include align-items(flex-end);

    &-item {
      padding: 55px 20px 0;
      margin-bottom: 30px;
      @include flex-basis(33%);
      max-width: 33%;
      color: $price-text;
      font-size: $secondary-text-font;

      @media (max-width: 992px) {
        max-width: 50%;
        @include flex-basis(50%);
      }

      @media (max-width: 568px) {
        max-width: 100%;
        @include flex-basis(100%);
      }

      &:hover {
        padding-top: 0;
        .price-popular-text {
          padding: 15px;
          background-color: $secondary-brand-color;
          font-size: 1rem;
          text-transform: uppercase;
        }
      }

      .item-block {
        background-color: $brand-color;
      }

      .price-status {
        display: block;
      }

      .price-number {
        font-size: 6rem;
      }

      .price-item-title,
      .price-status {
        padding: 20px 0;
      }

      .price {
        padding-bottom: 0;
        border-top: 2px solid $bg-section;
        border-bottom: 2px solid $bg-section;
        font-size: 2rem;
      }

      .price-status {
        color: $text-color;
        font-style: italic;
      }

      .price-popular-text {
        border: 2px solid $secondary-brand-color;
        display: block;
        font-size: 0;
      }

      .status-price-list-item {
        padding: 15px 0;
        background-color: $price-text;
        color: $text-color;
        text-transform: uppercase;
        border-bottom: 1px solid $bg-section;
      }

      .price-item-title-link:link,
      .price-item-title-link:visited,
      .price-popular-link:link,
      .price-popular-link:visited {
        color: $price-text;
        text-decoration: none;
      }
    }
  }
}

/*Customers saying section*/
.section-customers-saying {
  padding: 105px 0 100px;
  text-align: center;

  .customers-saying-info {
    margin-bottom: 55px;
    @include light-gray-text();
  }

  .customers-info {
    padding-left: 55px;
    @include display-flex();
    @include justify-content(flex-start);
    @include align-items();

    .customers-text-info {
      margin-left: 20px;

      .customers-saying-position {
        @include light-gray-text();
      }
    }
  }

  .blockquote-customers {
    margin: 0 55px 20px;
    padding: 25px 10px;
    position: relative;
    @include light-gray-text();
    text-align: left;
    background-color: $bg-section;

    &:after {
      content: '';
      position: absolute;
      left: 15px;
      bottom: -35px;
      border: 20px solid transparent;
      border-top: 20px solid $bg-section;
    }
  }

  .customers-saying-img {
    border-radius: 50%;
  }

  .slick-next {
    right: 0;

    &:before {
      content: "\f105";
    }
  }

  .slick-prev {
    left: 0;

    &:before {
      content: "\f104";
    }
  }

  .slick-prev,
  .slick-next {
    height: 35px;

    &:before {
      color: $secondary-brand-color;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 2.5rem;

      @media (max-width: 576px) {
        content: "";
      }
    }
  }
}

/*Stylish axure design section*/
.section-stylish-axure-design {
  padding: 70px 0 60px;
  text-align: center;
  //background-image: url("../images/parallax.png");
  background-size: cover;

  .wrapper-parallax {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;

    .parallax {
      position: relative;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      text-shadow: 0 0 5px #000;

      &:after {
        content: " ";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: translateZ(-1px) scale(1.5);
        background-size: 100%;
        z-index: -1;
      }
    }

    .bg-parallax:after {
      background-image: url("../images/parallax.png");
    }
  }

  .stylish-design-title {
    color: $price-text;
    display: block;
  }

  .stylish-design-info {
    margin-bottom: 35px;
    @include light-gray-text();
    color: $price-text;
  }

  .download-btn {
    @include make-btn(transparent, 1px, 0);

    &:hover {
      background-color: $secondary-brand-color;
    }
  }
}

/*Contact us section*/
.section-contact-us {
  padding: 105px 0 80px;
  text-align: center;

  .section-contact-us-info {
    margin-bottom: 95px;
    @include light-gray-text();
  }

  .form-contact-us {
    @include display-flex();
    @include justify-content();
    @include flex-wrap();

    .form-block {
      margin-bottom: 40px;
      @include display-flex();
      @include flex-direction(column);
      @include flex-basis(50%);
      max-width: 50%;

      @media (max-width: 768px) {
        margin-bottom: 30px;
        @include flex-basis(100%);
        max-width: 100%;
      }

      .item-contact-us,
      .field-contact-us {
        font-family: $text-font;
        border: none;
        border-bottom: 1px solid $section-border;
      }

      .field-contact-us {
        padding-bottom: 10px;
        margin: 34px 70px 0 0;
      }

      .item-contact-us {
        overflow: hidden;
      }
    }

    .sent-message-btn {
      @include make-btn($secondary-brand-color, 0px, 10px);

      &:hover {
        padding-bottom: 13px;
        background-color: transparent;
        color: $secondary-brand-color;
        border-color: $secondary-brand-color;
        border-width: 1px;
      }
    }
  }
}

