/*Colors*/
$nav-color: #c1c7cd;
$brand-color: #37495e;
$secondary-brand-color: #ff9b51;
$text-icon-color: #ccc;
$text-color: #86878b;
$bg-section: #f5f5f5;
$box-shadow-color: #dedede;
$section-border: #b7b7b7;
$price-text: #fff;
$form-text: #bdbdbd;

/*Fonts*/
$text-font: "Open Sans", sans-serif;
$secondary-text-font: 'Raleway', sans-serif;
